<% if !current_user %>
	<div class = 'join-to-us-under-hat'>
		<div>Здесь вы найдёте интересные вещи, эксклюзивные товары, креативные штучки, идеи для подарков</div>
		<%= link_to "Присоединяйтесь!", new_user_path, class: 'btn btn-st'%>
	</div>
<% end %>