= render 'about_trenly'
- if current_user
	.title-explore
	  = @tag_name
- else
	.title-explore.title-explore_lmargin
	  = @tag_name
= render 'partials/city_select'
.grid-gallery
  - unless  !@tag && params[:tag_name]
    = react_component 'ExploreGrid', props: {posts_url: @posts_path + city_params(params[:city_id]), posts_preloaded: scope_serializer(@posts)}, prerender: true
= render "partials/contacts"

