= render 'about_trenly'
- if current_user
	.title-explore
	  |Новое
- else
  .title-explore.title-explore_lmargin
	  |Новое

= render 'partials/city_select'
#grid-gallery.grid-gallery
  #demo
    = react_component 'ExploreGrid',
      props: { posts_preloaded: scope_serializer(@posts),
      posts_url: fresh_path + city_params(params[:city_id])}, prerender: true
= render "partials/hurry_sing_up"
= render "partials/contacts"

