<!-- <div class='gallery-items card-butify'>

	<div class='wrap-img'>
		<img class='card-butify img-item' src='http://trenly.ru/uploads/photo/image/538/LY4w8Is6EqM.jpg' />
	</div>
	<div class='wrap-info'>
		<div class='autor-and-attributes'>
			<div class="post-autor">
		    <a href="/users/1">
		      <div class="usual-avatar" style="background: url(/uploads/teacher/avatar/1/thumb_59a4cee392.jpg) no-repeat; background-size: cover; background-color: white;">
		      </div>
		      <div class="post-autor-info">
		        <h4 class="modal-title" id="myModalLabel">Никитин Максим</h4>
		        <div class="city-time">
		          Петровск,  1 мая
		        </div>
		      </div>
		      <div class='clearboth'>
					</div>
				</a>  
		  </div>
		  <h4 class='name-item'>
		  	Массивный комплект с переливами
		  </h4>
		  <div class='comments'>
		  	<h5>
		  		Комментарии:
		  	</h5>
		  		<div class='post-comments'>
		  			<div class='unit-post-comments'>
		  				<div class="post-autor">
						    <a href="/users/1">
						      <div class="usual-avatar" style="background: url(/uploads/teacher/avatar/1/thumb_59a4cee392.jpg) no-repeat; background-size: cover; background-color: white;">
						      </div>
						     </a>
					      <div class="post-autor-info">
					        <h4 class="modal-title" id="myModalLabel">
					        	<a href="/users/1">Никитин Максим</a> <span>• 31 апреля</span>
					        </h4>
					        <div class="comment-text">
					          Очень крутой товар, БРО! Мне прям нравится! Зацепил
					        </div>
					      </div>
					      <div class='clearboth'>
								</div>
						  </div>
		  			</div>
		  			<div class='unit-post-comments'>
		  				<div class="post-autor">
						    <a href="/users/1">
						      <div class="usual-avatar" style="background: url(http://trenly.ru/uploads/teacher/avatar/15/thumb_06802c36d6.jpg) no-repeat; background-size: cover; background-color: white;">
						      </div>
						     </a>
					      <div class="post-autor-info">
					        <h4 class="modal-title" id="myModalLabel">
					        	<a href="/users/1">Никитина Елена</a> <span>• 31 апреля</span>
					        </h4>
					        <div class="comment-text">
					          Супер
					        </div>
					      </div>
					      <div class='clearboth'>
								</div>
						  </div>
		  			</div>
		  			<div class='unit-post-comments'>
		  				<div class="post-autor">
						    <a href="/users/1">
						      <div class="usual-avatar" style="background: url(http://trenly.ru/uploads/teacher/avatar/201/218b5ffb33.jpg) no-repeat; background-size: cover; background-color: white;">
						      </div>
						     </a>
					      <div class="post-autor-info">
					        <h4 class="modal-title" id="myModalLabel">
					        	<a href="/users/1">Евгений Кулявцев</a> <span>• 1 мая</span>
					        </h4>
					        <div class="comment-text">
					          А где взять подобное что-то, но только дешевле?
					        </div>
					      </div>
					      <div class='clearboth'>
								</div>
						  </div>
		  			</div>
		  		</div>
		  </div>
		</div>
	  <div class='choices'>
	  	<a>
				<div class='choice-no'>
					<img src = '/images/close_gallery.png' />
				</div>
			</a>
			<a>
				<div class='choice-yes'>
					<img src = '/images/like_active.png' />
				</div>
			</a>
		</div>
	</div>

	<div class='clearboth'>
	</div>
</div> -->


<div class='gallery-items'>

	<div class='wrap-info'>
		<div class='choices'>
	  	<a>
				<div class='choice-no'>
					<img src = '/images/close_gallery.png' />
				</div>
			</a>
			<a>
				<div class='choice-yes'>
					<img src = '/images/like_active.png' />
				</div>
			</a>
		</div>
		<div class='autor-and-attributes'>
			<div class="post-autor">
		    <a href="/users/1">
		      <div class="usual-avatar" style="background: url(/uploads/teacher/avatar/1/thumb_59a4cee392.jpg) no-repeat; background-size: cover; background-color: white;">
		      </div>
		      <div class="post-autor-info">
		        <h4 class="modal-title" id="myModalLabel">Никитин Максим</h4>
		        <div class="city-time">
		          Петровск,  1 мая
		        </div>
		      </div>
		      <div class='clearboth'>
					</div>
				</a>  
		  </div>
		</div>
	</div>
	<div class='wrap-img'>
		<img class='card-butify img-item' src='http://ironlamp.ru/wp-content/uploads/2015/11/o2.jpg' />
	</div>
</div>


<!--<div class='gallery-items card-butify'>
	
	<div class='wrap-img'>
		<img class='img-item' src='http://trenly.ru/uploads/photo/image/673/2016-01-28_05-00-40.JPG' />
	</div>
	<div class='wrap-info'>
		<div class="post-autor">
	    <a href="/users/1">
	      <div class="usual-avatar" style="background: url(/uploads/teacher/avatar/1/thumb_59a4cee392.jpg) no-repeat; background-size: cover; background-color: white;">
	      </div>
	      <div class="post-autor-info">
	        <h4 class="modal-title" id="myModalLabel">Никитин Максим</h4>
	        <div class="city-time">
	          Петровск,  1 мая
	        </div>
	      </div>
	      <div class='clearboth'>
				</div>
			</a>  
	  </div>
	  <div class='choices'>
			<div class='choice-yes'>
			</div>
			<div class='choice-no'>
			</div>
			<div class='clearboth'>
			</div>
		</div>
		<div class='clearboth'>
		</div>
	</div>
</div> -->