<div class='gallery-items'>
	<!--<div class='wrap-info'>
		<div class='choices'>
	  	<a>
				<div class='choice-no'>
					<img src = '/images/close_gallery.png' />
				</div>
			</a>
			<a>
				<div class='choice-yes'>
					<img src = '/images/like_active.png' />
				</div>
			</a>
		</div>
		<div class='autor-and-attributes'>
			<div class="post-autor">
		    <a href="/users/1">
		      <div class="usual-avatar" style="background: url(/uploads/teacher/avatar/1/thumb_59a4cee392.jpg) no-repeat; background-size: cover; background-color: white;">
		      </div>
		      <div class="post-autor-info">
		        <h4 class="modal-title" id="myModalLabel">Никитин Максим</h4>
		        <div class="city-time">
		          Петровск,  1 мая
		        </div>
		      </div>
		      <div class='clearboth'>
					</div>
				</a>  
		  </div>
		</div>
	</div>
	<div class='wrap-img'>
		<img class='card-butify img-item' src='http://ironlamp.ru/wp-content/uploads/2015/11/o2.jpg' />
	</div> -->
	<%= react_component("ItemsGallery", posts_url: fresh_path) %>
</div>