<%= render 'about_trenly' %>
  <div class='title-explore'>
    Модерация
  </div>
<%= render 'partials/city_select' %>
<div id="grid-gallery" class="grid-gallery">
  <div id='demo'>
    <%= react_component 'Gallery', posts_url: admin_moderate_path %>
  </div>
</div>
