<div class='trenly-contact'>
  <div class='social-trenly-contact'>
  	<a href='https://vk.com/trenly' target='_blank'><div class='wrap-img'><img src = '/images/social_vk.png' /></div></a> <img class='logo-img' src='/images/logo_trenly.png' />
  	<!--<div class='wrap-img'><img src = '/images/social_insta.png' /></div>-->
  	<div class='clearboth'></div>
  </div>
  <div class='email'>team.trenly@yandex.ru</div>
</div>

<!--<div class='our-contact'>
    <span>
      <img src = '/images/social_vk.png' />
    </span>
    <span>
      <img src = '/images/social_insta.png' />
    </span>
  </div> -->