<meta name="description" content="Площадка для размещения ручных работ, эксклюзивных и дизайнерских вещей. Отмечайте то, что Вам нравится, и получайте скидки!"/>
<meta name="keywords" content="ручная работа, эксклюзивные товары, товары своими руками, авторские работы, авторские товары, разместить авторский товар, площадка для размещения товаров"/>

<meta property="vk:title" content="Тренли | Товары с душой" />
<meta property="vk:description" content="Trenly - Товары с душой. Эксклюзивные товары и работы!" />
<meta property="vk:url" content="http://trenly.ru" />
<meta property="vk:image" content="http://trenly.ru/images/logo_trenly.png" />
<meta property="vk:type" content="website"/>
