<meta name="description" content="Сеть онлайн-бутиков с эксклюзивными и дизайнерскими товарами. Найдите лучших мастеров из своего города!"/>
<meta name="keywords" content="ручная работа, эксклюзивные товары, товары своими руками, авторские работы, авторские товары, разместить авторский товар, площадка для размещения товаров"/>

<meta property="vk:title" content="Тренли | Дизайнерские товары" />
<meta property="vk:description" content="Trenly - Дизайнерские товары от молодых и талантливых мастеров." />
<meta property="vk:url" content="http://trenly.ru" />
<meta property="vk:image" content="http://trenly.ru/images/logo_trenly.png" />
<meta property="vk:type" content="website"/>
