<div class="modal fade" id = "modal-moderation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-info">
    <div class="modal-content modal-content-info">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2>Модерирование публикаций</h2>
      </div>
      <div class="modal-body">
        <div id='advices' class='advices-of-attract-clients'>
					
					<div class='advices-content'>
						<div class='advices-content-moderation'>
							<p>
								Команда Trenly очень строго модерирует контент, но вы не пугайтесь. Это делается для того, чтобы клиенту было приятно находиться на сайте и любоваться вашими товарами. Общий уровень контента существенно повышает продажи у всех мастеров!
							</p>
							<p>
								Публикации, прошедшие модерацию, помечаются <img src='/images/icon_correct_example.png' width='18' /> в левом нижнем углу на фотографии.
							</p>
							<hr>
							<p>
								<h4 class='moderate-rule'>Что необходимо, чтобы пройти модерацию?</h4>
								<ol>
									<li>
										Товар должен быть хорошего качества;
									</li>
									<li>
										Фотографии должны быть хорошего качества, эстетически приятные, четкие, без ссылок и водяных знаков. Фон, изображенный на фотографии, также важен, как и товар.
									</li>
								</ol>
							</p>
							<hr>
							<p>
								<h4 class='moderate-true'>Публикации, которые <b>прошли</b> модерацию, отображаются в:</h4>
								<ol>
									<li>
										В категориях, которые указал мастер при создании публикации, и в разделе "Новое";
									</li>
									<li>
										На странице мастера;
									</li>
									<li>
										В новостной ленте у тех, кто читает мастера.
									</li>
								</ol>
							</p>
							<hr>
							<p>
								<h4 class='moderate-false'>Публикации, которые <b>не прошли</b> модерацию, отображаются в:</h4>
								<ol>
									<li>
										На странице мастера;
									</li>
									<li>
										В новостной ленте у тех, кто читает мастера.
									</li>
								</ol>
							</p>
						</div>
					</div>
					<!--<h1>Привлеките больше клиентов!</h1>
					<div class='advices-content'>
						<div class='advices-content-introduction'>
							Мы знаем, что этот небольшой текст прочтут не все... Всегда хочется быстрее разместить товар и просто ждать клиентов. Но мы точно уверены в том, что тот, кто потратит 2 минуты на прочтение этих простых советов, сможет привлечь клиентов больше, чем другие!
						</div>
						<h3>Команда Trenly от чистого сердца дает 5 советов:</h3>
						<div class='list-advices'>
							<h4>1. Делать хорошие фотографии</h4>
							<p>
								Единственное, что видит клиент, покупая товар в Интернете, это фотография.
								Успешный мастер заботится не только о качестве своего товара, но и о демонстрации его публике!
								Команда Trenly очень строго модерирует контент! Те публикации, которые прошли модерацию будут опубликованы в категориях, которые указал мастер при 
							</p>
						</div>
					</div> -->
				</div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" aria-hidden="true" class="btn btn-primary btn-st">Хорошо!</button>
      </div>
    </div>
  </div>
</div>
