<div class='desire-content'>

  <div class="post-autor">
    <a href="#">
      <div class="usual-avatar" style="background:url(https://pp.vk.me/c5382/v5382599/a70/lVMwRxI_h3w.jpg) no-repeat; background-size:cover;"></div>
      <div class="post-autor-info">
        <h4 class="modal-title" id="myModalLabel">Анастасия Носкова</h4>
        <div class='city-time'>
          <span>Уфа</span>
          <span>, </span>
          <span>24 апр.</span>
        </div>
      </div>
    </a>
  </div>

  <div class='post-title'>
  	<input class='input-new-post form-text-title input-sp form-control' placeholder = 'Напишите суть желания. Куда? Кому? Зачем?'/>
  </div>

	<div class='post-description'>
		<div class="text-new-post" placeholder="Если хотите, можете написать о своем желании подробнее, указать детали и привести примеры" contenteditable="true">
		</div>
  </div>

  <div class='post-img'>
  	<h5>Вы можете загрузить фото, чтобы показать продавцу пример того товара, который Вы хотите... Ну или просто привлеките внимание картинкой</h5>
  	<div class='form-new-post usual-post-contant'>
      <div class='form-wrap-new-post-type'>
        <div class='split-cells-choose-photo'>
          <div
            class='split-cell'
            onClick={this.addFromComputerClick}>
            <img src = '/images/add_photo_from_device.png' />
            <br/>
            Загрузить фото с компьютера
          </div>
          <div
            class='split-cell'
            onClick={this.addFromInternetClick}>
            <img src = '/images/add_photo_from_internet.png' />
            <br/>
            Добавить фото из Интернета
          </div>
        </div>
      </div>
    </div>
  </div>

</div>