<div class='desire-content'>

  <div class="post-autor">
    <a href="#">
      <div class="usual-avatar" style="background:url(https://pp.vk.me/c5382/v5382599/a70/lVMwRxI_h3w.jpg) no-repeat; background-size:cover;"></div>
      <div class="post-autor-info">
        <h4 class="modal-title" id="myModalLabel">Анастасия Носкова</h4>
        <div class='city-time'>
          <span>Уфа</span>
          <span>, </span>
          <span>24 апр.</span>
        </div>
      </div>
    </a>
  </div>

  <div class='post-title'>
  	<h2>Заголвок желания</h2>
  </div>

	<div class='post-description'>
		Текст
  </div>

  <div class='post-img'>
  	<img src='' />
  </div>

</div>