<div class="tips-and-comments title-under-hat"></div>
<div class='analytics-list'>
	<h2>Ваша статистика</h2>
	<div class='categories-parametrs'>
		<span class='active'>Сегодня</span>
		<span>Неделя</span>
		<span>Месяц</span>
		<span>Всё время</span>
	</div>
	<div class='data-analytics'>
		<div class='data-analytics-views'>
			<h1>
				142
			</h1>
			<h5>Просмотров Вашей страницы</h5>
		</div>
		<div class='data-analytics-social'>
			<div class='vk'>
				<h1>
					14
				</h1>
				<h5><img src='/images/social_vk.png' /> переходы</h5>
			</div>
			<div class='instagram'>
				<h1>
					6
				</h1>
				<h5><img src='/images/social_insta.png' /> переходы</h5>
			</div>
			<div class='facebook'>
				<h1>
					1
				</h1>
				<h5><img src='/images/social_facebook.png' /> переходы</h5>
			</div>
			<div class='clearboth'>
			</div>
		</div>
		<div class='clearboth'>
		</div>
	</div>
</div>