<div class='wrap-profile'>
  <div class='avatar'>
    <img src = 'http://studpad.ru/uploads/teacher/avatar/1447/34873bdbcd.jpg' />
    <% if current_user %>
      <button class='get-publication'>Опубликовать</button>
    <% end %>
  </div>
  <div class='name'>
    Максим Грешник
  </div>
  <div class='aboutme'>
    Актер, модель и блогер из Канады.
  </div>
  <div class='city'>
    Москва
  </div>
  <div class='menu'>
    <ul>
      <li>
        <span>0</span> Публикации
      </li>
      <li>
        <span>4</span> Нравится
      </li>
      <li>
        <span>1</span> Хочу
      </li>
      <li>
        <span>412</span> Читатели
      </li>
      <li>
        <span>22</span> Я читаю
      </li>
    </ul>
  </div>
  <div id="grid-gallery" class="grid-gallery">
  <%= react_component 'Gallery', posts_url: posts_path(@user) %>
  </div>
</div>
