<% provide(:class_name, "hidden-element") %>
<div class='tips-and-comments title-under-hat'>
  Публикация обязательно должна содержать изображение, цену и категорию
  <br>После мгновенной модерации она будет отображена в категориях
</div>
<%= react_component 'StaticPostForm', time_now: l(Time.now) %>
