<% provide(:class_name, "hidden-element") %>
<div class='tips-and-comments title-under-hat'>
</div>
<%= react_component 'StaticPostForm', time_now: l(Time.now) %>
<div id='advices' class='advices-of-attract-clients'>
	<h1 class='on-grey'>Модерирование публикаций</h1>
	<div class='advices-content'>
		<div class='advices-content-moderation'>
			<p>
				Команда Trenly очень строго модерирует контент, но вы не пугайтесь. Это делается для того, чтобы клиенту было приятно находится на сайте и любоваться вашими товарами. Общий уровень контента существенно повышает продажи у всех мастеров!
			</p>
			<p>
				Публикации, прошедшие модерацию, помечаются <span class='icon-ok-circle'></span>
			</p>
			<hr>
			<p>
				<h4 class='moderate-rule'>Что необходимо, чтобы пройти модерацию?</h4>
				<ol>
					<li>
						Товар должен быть хорошего качества;
					</li>
					<li>
						Фотографии должны быть хорошего качетва, эстетически приятные, четкие, без ссылок и водяных знаков. Фон, изображенный на фотографии, также важен, как и товар;
					</li>
				</ol>
			</p>
			<hr>
			<p>
				<h4 class='moderate-true'>Публикации, которые <b>прошли</b> модерацию отображаются в:</h4>
				<ol>
					<li>
						В категориях, которые указал мастер при создании публикации;
					</li>
					<li>
						На странице мастера;
					</li>
					<li>
						В новостной ленте у тех, кто читает мастера;
					</li>
				</ol>
			</p>
			<hr>
			<p>
				<h4 class='moderate-false'>Публикации, которые <b>не прошли</b> модерацию отображаются в:</h4>
				<ol>
					<li>
						На странице мастера;
					</li>
					<li>
						В новостной ленте у тех, кто читает мастера;
					</li>
				</ol>
			</p>
		</div>
	</div>
	<!--<h1>Привлеките больше клиентов!</h1>
	<div class='advices-content'>
		<div class='advices-content-introduction'>
			Мы знаем, что этот небольшой текст прочтут не все... Всегда хочется быстрее разместить товар и просто ждать клиентов. Но мы точно уверены в том, что тот, кто потратит 2 минуты на прочтение этих простых советов, сможет привлечь клиентов больше, чем другие!
		</div>
		<h3>Команда Trenly от чистого сердца дает 5 советов:</h3>
		<div class='list-advices'>
			<h4>1. Делать хорошие фотографии</h4>
			<p>
				Единственное, что видит клиент, покупая товар в Интернете, это фотография.
				Успешный мастер заботится не только о качестве своего товара, но и о демонстрации его публике!
				Команда Trenly очень строго модерирует контент! Те публикации, которые прошли модерацию будут опубликованы в категориях, которые указал мастер при 
			</p>
		</div>
	</div> -->
</div>
<%= render "partials/contacts" %>