<% provide(:class_name, "hidden-element") %>
<div class='tips-and-comments title-under-hat'>
</div>
<%= react_component 'StaticPostForm', time_now: l(Time.now) %>
<%= render "partials/moderation_rules" %>
<%= render "partials/contacts" %>