<% provide(:class_name, "hidden-element") %>
<div class='tips-and-comments title-under-hat'>
</div>
<div class='notification-block-future-publication'>
  <div class="notification-block">
    <span>
      Отсроченная публикация поможет сделать активность Вашей страницы постоянной!
    </span>
  </div>
  <div class="notification-block">
    <span>
      Ваш товар может привлечь больше клиентов. <a href='#'  data-toggle="modal" data-target="#modal-moderation"><b>Прочтите!</b></a>
    </span>
  </div>
</div>
<%= react_component 'StaticPostForm', time_now: l(Time.now) %>
<%= render "partials/moderation_rules" %>
<%= render "partials/contacts" %>