- provide :class_name, "hidden-element"
.tips-and-comments.title-under-hat
  |
= render "partials/tips_create_post"
= react_component 'StaticPostForm', props: {time_now: l(Time.now)},
  prerender: false
= render "partials/moderation_rules"
= render "partials/contacts"