<div class="modal-content modal-content-new-post add-new-product">
	<div class="modal-body my-setting-modal-body">
		<div class="container-fluid">
			<div data-reactid=".8.1.0.0.$=10.1.0.0">
				<input type="file" style="display:none;">
				<div class="form-new-post usual-post-contant border-t-radius">
					<div class="form-wrap-new-post-type">
						<div class="split-cells-choose-photo">
							<div class="split-cell">
								<img src="/images/add_photo_from_device.png">
								<br>
								<span>Загрузить фото с компьютера</span>
							</div>
							<div class="split-cell">
								<img src="/images/add_photo_from_internet.png">
								<br>
								<span>Добавить фото из Интернета</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div>
					<div>
						<div class="post-add-text-element">
							<input type="file" style="display:none;">
							<div class="post-add-text-element-label">
								<span class="add-element-label-photo hide-tipt-post-add-element">
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="padding-usual-post-text-create">
					<div class="usual-post-text-create action-create-element-post">
						<div placeholder="Если хотите, можете добавить описание" class="text-new-post" contenteditable="true"></div>
					</div>
				</div>
			</div>
			<div class="post-tags-create clearboth">
				<div class="selectize-control multi" style="width: 100%;">
					<div class="selectize-input items not-full">
						<input type="text" autocomplete="off" tabindex="" placeholder="#Теги" style="width: 37px;">
					</div>
					<div class="selectize-dropdown multi" style="display: none; width: 490px; top: 18px; left: 0px;">
						<div class="selectize-dropdown-content">
						</div>
					</div>
				</div>
				<div class="tags-sp">
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div placeholder="Ссылка на сайт" class="text-new-post create-site-link" contenteditable="true"></div>
		<button type="button" disabled="" class="btn btn-primary btn-st" data-loading-text="Подождите...">Опубликовать</button>
	</div>
</div>
