.hat-site{
  background: rgba(255, 255, 255, 0.98);
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  width: 100%;
  z-index: 900;
  position: absolute;
  top: 0px;
  min-width: 620px;
  .inner-hat{
    max-width: 1190px;
    height: 64px;
    padding: 0 10px;
    position: relative;
    margin: 0 auto;
    .metabar-block-left{
      float: left;
      height: 100%;
      padding-top: 15px;
      img{
        height: 36px;
        margin-right: 10px;
        margin-top: -7px;
      }
    }
    .metabar-block-right{
      float: right;
      height: 100%;
      .profile{
        height: 100%;
        padding: 17px 0;
        float: right;
        div{
          float: right;
          margin-left: 16px;
          cursor: pointer;
          .menu-icon{
            width: 22px;
            position: relative;
            top: 3px;
          }
          .profile-icon{
            width: 30px;
            height: 30px;
            border-radius: 200px;
            cursor: pointer;
          }
          .dropdown-menu{
            left: 100%;
            margin-left: -250px;
            li{
              padding-top: 3px;
              padding-bottom: 3px;
              padding-left: 5px;
              padding-right: 5px;
              cursor: pointer;
              border-radius: 2px;
              font-size: 13px;
              color: #516574;
              &:hover{
                background-color: #F5F5F5;
              }
              .divider{
                padding-top: 0px !important;
                padding-bottom: 0px !important;
              }
              img{
                width: 20px;
                position: relative;
                top: -2px;
              }
              .badge{
                background-color: transparent;
                color: #00AB6B;
              }
            }
          }
          .dropdown-menu > li > a{
            font-size: inherit !important;
            &:hover{
              background-color: #F5F5F5 !important;
            }
          }
          .dropdown-menu{
            width: 250px !important;
          }
        }
      }
    }
  }
  .contant-wrap > div{
    float: left;
  }
}





.main-categories{
  width: 682px !important;
  top: 40px !important;
  left: -145% !important;
  background-color: rgba(255, 255, 255, 1) !important;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  .pole{
    float: left;
    width: 170px;
    padding: 15px 15px !important;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    p{
      color: #626262;
      &:hover{
        color: #3680be;
      }
      a{
        color: #383838 !important;
        &:hover{
          color: #00ab6b !important;
        }
      }
    }
  }
}

.amount-menu-icon{
  float: left;
  position: relative;
  width: 18px;
  border-radius: 2px;
  font-size: 10px;
  background-color: #3680be;
  color: white;
  text-align: center;
  /*border: 1px solid white;*/
}
.amount-of-notices{
  /*background-color: #1FB6B5;*/
  background-color: rgba(3, 171, 108, 0.9);
  top: 15px;
  left: 47px;
}

.entire-on-hat{
  button, a{
    font-size: 11px !important;
    padding: 3px 6px;
    img{
      width: 18px;
    }
  }
  .link-to-reg-vk{
      margin-left: 0px;
      background: #2c70b4 !important;
      border: 1px solid #2c70b4 !important;
    }
}
@media screen and (max-width: 905px) {
  .hat-site{
    background: rgba(255, 255, 255, 0.98);
    height: 65px;
    box-shadow: 0 0 1px rgba(0,0,0,.15);
    width: 100%;
    z-index: 900;
    position: fixed;
    top: 0px;
    .inner-hat{
      max-width: 1190px;
      height: 100%;
      padding: 0 10px;
      position: relative;
      margin: 0 auto;
      .metabar-block-left{
        float: left;
        height: 100%;
      }
    }
  }
} 
@media screen and (max-width: 665px) {
  .hat-site{
    #hat-search{
      width: 120px !important;
    }
  }
}
@media  screen and (max-width: 665px){
  .navbar-nav {
      
  }
}
.autocomplete-suggestions strong{
  color: #23527c !important;
}
.autocomplete-suggestions{
  padding: 5px 5px !important;
  border: 1px solid #CCC !important;
  border-radius: 2px !important;
  cursor: pointer !important;
}
.autocomplete-suggestion{
  border-radius: 2px !important;
  padding: 2px 5px !important;
}
.title-under-hat{
  margin-top: 130px;
  margin-bottom: 10px;
}
.tips-and-comments{
  font-size: 18px;
  color: #747474;
  text-align: center;
  text-shadow: 0 1px 0px rgb(255, 255, 255);
}
.get-publication-hat{
  font-size: 12px !important;
  margin-right: -35px;
  margin-top: 1px;
  padding: 4px 8px !important;
}
.get-publication-hat-welcome{
  font-size: 12px !important;
  margin-top: 1px;
  padding: 4px 8px !important;
  margin-right: 12px;
}
.welcome-nearly-publish{
  font-size: 13px;
}
.hat-categories{
  background: rgba(255, 255, 255, 0.98);
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  .inner-hat-categories{
    max-width: 1190px;
    height: 100%;
    padding: 12px 10px;
    position: relative;
    margin: 0 auto;
    .wrap-vk{
      float: right;
      height: 0px !important;
      .vk{
        width: 28px;
        position: relative;
        top: -4px;
      }
    }
    /*nav{
      font-size: 13px;
      a, span{
        color: rgba(0, 0, 0, 0.4);
        margin-right: 18px;
        cursor: pointer;
        &:hover{
          color: rgba(0, 0, 0, 0.8);
          span{
            color: rgba(0, 0, 0, 0.8);
          }
        }
      }
      .caret{
        margin-right: 0 !important;
      }
      .divider-hat-categories{

      }
    }*/
    .navbar-nav{
      float: left !important;
      margin: 0px !important;
      font-weight: 400;
      li{
        margin-right: 18px !important;
        .fontw-500{
          font-weight: 500;
        }
        .dropdown-menu{
          top: 32px;
          li{
            a{
              font-size: 12px !important;
              color: rgba(0, 0, 0, 0.6) !important;
              cursor: pointer;
              &:hover{
                color: rgba(0, 0, 0, 0.8) !important;
              }
            }
          }
        }
        a, span{
          padding: 0px;
          color: rgba(0, 0, 0, 0.4);
          cursor: pointer;
          &:hover{
            color: rgba(0, 0, 0, 0.8);
            background-color: transparent !important;
            outline: none !important;
            span{
              color: rgba(0, 0, 0, 0.8);
            }
          }
          &:focus{
            color: rgba(0, 0, 0, 0.8);
            background-color: transparent !important;
            outline: none !important;
            span{
              color: rgba(0, 0, 0, 0.8);
            }
          }
        }
      }
    }
  }
}
.fixed-hat-categories{
  position: fixed;
  top: 0px;
  width: 100%;
}
#hat-search{
  display: inline !important;
  width: 180px !important;
  border-radius: 200px;
}
.btn-without-props-btn{
  border: none !important;
  background-color: transparent !important;
  outline: none !important;
  color: rgba(0, 0, 0, 0.6);
  &:hover{
    background-color: transparent !important;
    box-shadow: none !important;
  } 
}
.btn-day-product{
  color: #00AB69 !important;
  img{
    width: 20px;
    margin-right: 2px !important;
    margin-top: 0px !important;
    height: auto !important;
  }     
}