.hat-site{
  background: rgba(255, 255, 255, 0.98);
  height: 65px;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  width: 100%;
  z-index: 900;
  position: fixed;
  top: 0px;
  min-width: 620px;
  .inner-hat{
    max-width: 1190px;
    height: 100%;
    padding: 0 10px;
    position: relative;
    margin: 0 auto;
    .metabar-block-left{
      float: left;
      height: 100%;
      img{
        height: 41px;
        margin-top: 12px; 
      }
    }
    .metabar-block-right{
      float: right;
      height: 100%;
      .profile{
        height: 100%;
        padding: 15px 0;
        float: right;
        div{
          float: right;
          margin-left: 16px;
          cursor: pointer;
          .menu-icon{
            width: 24px;
            position: relative;
            top: 3px;
          }
          .profile-icon{
            width: 34px;
            border-radius: 200px;
            cursor: pointer;
          }
          .dropdown-menu{
            left: 100%;
            margin-left: -250px;
            li{
              padding-top: 3px;
              padding-bottom: 3px;
              padding-left: 5px;
              padding-right: 5px;
              cursor: pointer;
              border-radius: 2px;
              font-size: 13px;
              color: #516574;
              &:hover{
                background-color: #F5F5F5;
              }
              .divider{
                padding-top: 0px !important;
                padding-bottom: 0px !important;
              }
              img{
                width: 20px;
                position: relative;
                top: -2px;
              }
              .badge{
                background-color: transparent;
                color: #00AB6B;
              }
            }
          }
          .dropdown-menu > li > a{
            font-size: inherit !important;
            &:hover{
              background-color: #F5F5F5 !important;
            }
          }
          .dropdown-menu{
            width: 250px !important;
          }
        }
      }
    }
  }
  .search{
    width: 220px;
    position: fixed;
    top: 15px;
    left: 50%;
    margin-left: -110px;
    .input-group{
      .dropdown-toggle{
        margin-left: 5px;
      }
      .dropdown-menu{
        left: 0px;
      }
      input{
        background-color: white;
        border-radius: 100px;
        width: 220px;
        text-align: center;
      }
      .btn-without-props-btn{
        border: none !important;
        background-color: transparent !important;
        outline: none !important;
        color: rgba(0, 0, 0, 0.6);
        &:hover{
          background-color: transparent !important;
          box-shadow: none !important;
        } 
      }
      .btn-day-product{
        color: #00ab6b !important;
        font-weight: 500;
      }
      .choose-category:before{
        content: "\f00b"; 
        font-family: FontAwesome;
        color: #454545;
      }
    }
  }
  .contant-wrap > div{
    float: left;
  }
}





.main-categories{
  width: 682px !important;
  top: 40px !important;
  left: -145% !important;
  background-color: rgba(255, 255, 255, 1) !important;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  .pole{
    float: left;
    width: 170px;
    padding: 15px 15px !important;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    p{
      color: #626262;
      &:hover{
        color: #3680be;
      }
      a{
        color: #383838 !important;
        &:hover{
          color: #00ab6b !important;
        }
      }
    }
  }
}

.amount-menu-icon{
  float: left;
  position: relative;
  width: 18px;
  border-radius: 2px;
  font-size: 10px;
  background-color: #3680be;
  color: white;
  text-align: center;
  /*border: 1px solid white;*/
}
.amount-of-notices{
  /*background-color: #1FB6B5;*/
  background-color: rgba(3, 171, 108, 0.9);
  top: 15px;
  left: 50px;
}

.entire-on-hat{
  button, a{
    font-size: 11px !important;
    padding: 3px 6px;
    img{
      width: 18px;
    }
  }
  .link-to-reg-vk{
      margin-left: 0px;
      background: #2c70b4 !important;
      border: 1px solid #2c70b4 !important;
    }
}

@media screen and (max-width: 1049px) {
  .hat-site{
    .search{
      margin-left: -220px;
    }
  }
}
@media screen and (max-width: 824px) {
  .hat-site{
    background: rgba(255, 255, 255, 0.98);
    height: 65px;
    box-shadow: 0 0 1px rgba(0,0,0,.15);
    width: 100%;
    z-index: 900;
    position: fixed;
    top: 0px;
    .inner-hat{
      max-width: 1190px;
      height: 100%;
      padding: 0 10px;
      position: relative;
      margin: 0 auto;
      .metabar-block-left{
        float: left;
        height: 100%;
        display: none;
      }
      .search{
        left: 120px;
        margin-left: -110px;
      }
    }
  }
} 
@media screen and (max-width: 682px) {
  .hat-site{
    .search{
      width: 160px;
      margin-left: -80px;
      .input-group{
        input{
          width: 160px;
        }
      }
    }
  }
}
.autocomplete-suggestions strong{
  color: #23527c !important;
}
.autocomplete-suggestions{
  padding: 5px 5px !important;
  border: 1px solid #CCC !important;
  border-radius: 2px !important;
  cursor: pointer !important;
}
.autocomplete-suggestion{
  border-radius: 2px !important;
  padding: 2px 5px !important;
}
.title-under-hat{
  margin-top: 85px;
}
.tips-and-comments{
  font-size: 18px;
  color: #747474;
  text-align: center;
  text-shadow: 0 1px 0px rgb(255, 255, 255);
}
.get-publication-hat{
  font-size: 12px !important;
  margin-right: -35px;
  margin-top: 1px;
}