.iwant-content{
  max-width: 1000px;
  margin: 0 auto;
  .wrap-desires-list{
    float: left;
    width: 62%;
    .title-under-hat{
      a{
        font-size: 14px;
        margin: 0 3px;
        .active{
          font-weight: 500;
        }
      }
    }
    .desires-list{
      margin-top: 25px;
      figure{
        padding: 16px 30px;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0,0,0,.04);
        border: 1px solid rgba(0,0,0,.09);
        border-radius: 6px;
        margin-bottom: 20px;
        .post-autor{
          .usual-avatar{
            margin: 0px;
            width: 36px !important;
            height: 36px !important;
          }
          .post-autor-info{
            margin-top: -2px;
            h4{
              font-size: 14px !important;
              font-weight: 300;
            }
            .city-time{
              font-size: 12px;
              color: rgba(0,0,0,.44);
            }
          }
        }
        .post-content-title-text-img{

          a{
            color: #383838 !important;
          }
          .wrap-title-text{
            width: 62%;
            float: left;
            padding-right: 10px;
            h3{
              margin-top: 0px;
            }
          }
          .wrap-img{
            width: 38%;
            float: left;
            padding-left: 10px;
            img{
              width: 100%;
              border-radius: 2px;
            }
          }
        }
        .post-footer{
          text-align: right;
          padding-top: 20px;
          button{
            padding: 3px 8px;
            float: left;
            margin-top: -8px;
          }
          span{
            color: rgba(0,0,0,.3);
          }
          h4{
            color: #00AB69;
          }
        }
      }
    }
  }
  .feed-right-column{
    float: left;
    width: 38%;
    .content-feed-right-column{
      padding: 15px 10px;
      margin-top: 151px;
      margin-left: 15px;
      h4{
        font-weight: 300;
        font-size: 16px;
      }
      button{
        margin-bottom: 20px;
      }
    }
  }
}

.desire-content{
  max-width: 810px;
  margin: 0 auto;
  margin-top: 95px;
  .post-autor{
    .dropdown-menu{
      left: -500%;
    }
    .usual-avatar{
      margin-top: 0px;
      margin-left: 0px;
    }
    .post-autor-info{
      margin-top: 0px;
    }
    h4{
      font-size: 15px !important;
      font-weight: 400;
      margin-top: 3px;
    }
    .city-time{
      color: rgba(0,0,0,.35);
    }
  }
  .post-title{

  }
  .post-description{
    textarea{
      font-size: 16px !important;
      padding: 0px !important;
      min-height: 40px !important;
      border: none !important;
      box-shadow: none !important;
      background-color: transparent !important;
    }
  }
  .post-img{
    width: 100%;
  }
}
.input-new-desire{
    font-size: 30px !important;
    background-color: transparent !important;
    height: 39px !important;
    border-bottom: none !important;
    font-weight: 400;
}
.desire-description{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 18px;
}
.desire-title{
  margin-top: 10px;
  h1{
    margin-top: 0px;
  }
}
.text-new-desire{
  font-size: 16px;
}
.desire-footer{
  text-align: left;
  margin-top: 20px;
  
  .short-essay-on-gray{
    font-size: 16px;
  }
  .complete-desire{
    color: #00AB69;
  }
  a{
    font-size: 16px;
  }
}
.desire-footer-create{  
  margin-bottom: 100px;
  margin-top: 20px;
}
.desire-variants{
  text-align: left;
  margin-top: 40px;
  border-top: 1px solid #D2D2D2;
  padding-top: 20px;
  margin-bottom: 100px;
  .tips-and-comments{
    text-align: left;
    margin-left: 10px;
  }
}
.post-autor{
  button{
    float: right;
  }
}
.create-new-desire{
  .add-photo-yet{
    display: none !important;
  }
  .form-wrap-new-post-type{
    padding-left: 0px;
    padding-right: 0px;
  }
}
.notification-new-desire{
  width: 195px;
  position: relative;
  top: -95px;
  left: 170px;
  height: 0px;
  font-size: 12px;
}