.wrap-profile{
	text-align: center;
	max-width: 800px;
  margin: 0 auto;
	.avatar{
		margin-top: 130px !important;
		.img-avatar{
			width: 120px;
			height: 120px;
			border-radius: 200px;
			margin: 0 auto;
		}
	}
	.name{
		font-size: 22px;
		margin-top: 5px;
		font-weight: 500;
	}
	.aboutme{
		font-size: 15px;
		a{
			border-bottom: 1px dashed #787878;
    	padding-bottom: 2px;
		}
	}
	.city{
		font-size: 18px;
		margin-top: 5px;
		font-weight: 500;
		color: #777777;
		a{
			border-bottom: 1px dashed #787878;
    	padding-bottom: 2px;
		}
	}
	.menu{
		margin-top: 12px;
		font-size: 15px;
		border-bottom: 1px solid #D2D2D2;
		padding-bottom: 12px;
		ul{
			li{
				display: inline-block;
				margin: 0 7px;
				color: #3F4E58;
				padding: 0 1px;
				span{
					font-weight: bold;
				}
			}
			.active{
				font-weight: 600;
			}
		}
	}
}
.current-edit-profile-avatar_img{
	height: 143px;
	border-radius: 200px;
}
.edit-profile{
	margin-bottom: 20px;
}
.edit-profile-name{
	input{
		font-weight: 500;
	}
}
.edit-profile-city{
	.item{
		font-size: 15px;
		font-weight: 400;
		color: #777777;
	}
}
.edit-profile-footer{
	margin-bottom: 20px !important;
  float: right !important;
}
.social-networks{
		margin-right: 12px;
		position: absolute;
		right: 12px;
		top: 120px;
		text-align: right;
		.btn{
			margin-bottom: 10px;
		}
		p{
			text-align: right;
		}
		img{
			width: 27px;
			height: 27px;
		}
		.get-publication{
			&:hover{
				color: #F3F3F3 !important;
			}
		}
		.link-analytics{
			margin-top: 10px;
		}
	}
.user-contact{
	margin-top: 60px;
	.edit-profile-social{
		img{
			width: 27px;
	    height: 27px;
		}
		input{
			margin-left: 2%;
			width: 88% !important;
			display: inline !important;
		}
	}
}
.input-edit-profile-about{
	height: 40px !important;
}
.notification-more-contact{
	margin-top: 20px;
	width: 203px;
	float: right;
}
.instruction-for-user{
	max-width: 800px;
	margin: 20px auto;
	.about-instruction{
		text-align: center;
		font-size: 14px;
		color: #747474;
    text-shadow: 0 1px 0px white;
    margin-bottom: 5px;
	}
	.instruction-block{
		.notification-block{
			float: left;
			max-width: 250px;
			height: 184px;
			margin: 8px;
			.text{
				float: left;
				width: 62%;
			}
			.img{
				float: left;
				width: 38%;
				img{
					width: 100%;
				}
			}
		}
	}
}
.profile-these-social-networks{
	a{
		margin-left: 5px;
	}
}