.wrap-profile{
	text-align: center;
	.avatar{
		margin-top: 60px;
		img{
			width: 120px;
			height: 120px;
			border-radius: 200px;
		}
		.get-publication{
			margin-right: 12px;
			position: absolute;
			right: 12px;
			&:hover{
				color: #F3F3F3 !important;
			}
		}
	}
	.name{
		font-size: 22px;
		margin-top: 5px;
		font-weight: 500;
	}
	.aboutme{
		font-size: 15px;
	}
	.city{
		font-size: 18px;
		margin-top: 5px;
		font-weight: 500;
		color: #777777;
	}
	.menu{
		margin-top: 12px;
		font-size: 15px;
		border-bottom: 1px solid #D2D2D2;
		padding-bottom: 12px;
		ul{
			li{
				display: inline-block;
				margin: 0 7px;
				color: #3F4E58;
				padding: 0 1px;
				span{
					font-weight: bold;
				}
			}
			.active{
				font-weight: 600;
			}
		}
	}
}
.current-edit-profile-avatar_img{
	height: 228px;
	border-radius: 6px;
}
.edit-profile{
	margin-bottom: 20px;
}
.edit-profile-name{
	input{
		font-weight: 500;
	}
}
.edit-profile-city{
	.item{
		font-size: 15px;
		font-weight: 400;
		color: #777777;
	}
}
.input-edit-insta_id, .input-edit-vk_id {
    display: inline !important;
}
.input-edit-vk_id {
  width: 83.9% !important;
}
.input-edit-insta_id{
	width: 69.9% !important;
}
.edit-profile-footer{
	margin-bottom: 20px !important;
  float: right !important;
}